
/* Ensure the page takes the full height */
html, body {
    height: 100%;
    margin: 0;
}

/* The wrapper will take up the full height of the viewport */
.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Main content will take the remaining space */
main {
    flex: 1;
    background-image: url('/static/images/00058.jpg');
    background-size: cover;  /* Make sure the image covers the entire container */
    background-position: center;  /* Center the image within the container */
    background-repeat: no-repeat;  /* Prevent the image from repeating */
    width: 100%;  /* Optional: Set the container width */
    height: 300px;  /* Optional: Set the container height */
   
    color: black;  /* Optional: Set the text color to make it readable */
}

/* Footer styles */
footer {
    background-color: #333; /* Set the footer background */
    color: white;            /* Set the footer text color */
    padding: 1rem;
    text-align: center;
}
/* Style for the hero section */
.hero {
    position: relative;
    background-image: url('/static/images/hero.png');
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

/* Style for the hero text */
.hero-text h1 {
    margin: 0;
    font-size: 5rem;
}

.hero-text p {
    font-size: 1.5rem;
}

.custom-card, .custom-card .card-body, .custom-card .card-img-top, .custom-card .card-title, .custom-card .card-text, .custom-card .image-container {
    margin: 0;        /* Removes any margin */
    padding: 0;       /* Removes any padding */
    border: none;     /* Removes any border that might add space */
}

.container h1 {
    text-align: center;  /* Centers the card title */
    width: 100%;         /* Ensures the card title takes up full width */
    padding: 20px 0;     /* Adds equal padding top and bottom */
    box-sizing: border-box; /* Ensures padding is included in the total width and height */
}


/* Style for the image container */
.image-container {
    height: 30vh;  /* Adjust the height as needed */
    width: auto;
    /* padding: 5px;   */
    box-sizing: border-box;  /* Ensures padding is included in the total width and height */
    overflow: hidden;  /* Ensures the images fit nicely */
}

/* Style for the images */
.image-container img {
    height: 100%;  /* Makes the images take up the full height of the container */
    width: auto;   
    display: block;  /* Ensures there is no extra space around the images */
}

.custom-card {
    max-width: 250px;  /* Increases the max width of each card */
    margin: auto;      /* Centers the card */
}

.custom-card-body {
    padding: 10px;  /* Adds some padding inside the card body */
}

.card-img-top {
    width: 100%;    /* Ensures image fits the card */
    height: auto;   /* Maintains the image aspect ratio */
}

.custom-card .card-title {
    text-align: center;  /* Centers the card title */
    padding: 10px 0;     /* Adds padding to the title */
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.row .col-md-6, .row .col-lg-3 {
    padding: 5px; /* Reduces padding between the columns */
}

.more-link {
    display: block;
    text-align: right;
    margin-top: 10px; /* Adjust this value as needed */
}
