{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

<main>
    <div class="container mt-5 thin-black-border ">
        <h1 class="mb-4 display-3"> Profile</h1>

        <div class="mb-3">
            <label class="form-label"><strong>First Name:</strong></label>
            <p>{{ request.user.first_name|default:"No first name provided" }}</p>
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Last Name:</strong></label>
            <p>{{ request.user.last_name|default:"No last name provided" }}</p>
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Email:</strong></label>
            <p>{{ request.user.email|default:"No email provided" }}</p>
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Bio:</strong></label>
            <p>{{ request.user.member.bio|default:"No bio provided" }}</p>
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Location:</strong></label>
            <p>{{ request.user.member.location|default:"No location provided" }}</p>
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Birth Date:</strong></label>
            <p>{{ request.user.member.birth_date|default:"No birth date provided" }}</p>
        </div>
        <div>
            <button class="btn btn-primary {% if request.path == '/profile/' %}active{% endif %}" aria-current="page"
            onclick="window.location.href='{% url 'update_member' %}'">Update Profile</button>
        </div>
    </div>
</main>

{% else %}
You are not authorised to view this form, Please Login or Register to view
{% endif %}

{% endblock %}
