{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<main>
    <div class="container mt-5 thin-black-border text-center">
        <h1 class="display-3">Confirm Delete</h1>
        <p class="text-center">Are you sure you want to delete this review for "{{ book.title }}"?</p>
        <p><em>Review: "{{ review.body }}"</em></p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Yes, delete</button>
            <button type="button" class="btn btn-primary"
                onclick="window.location.href='{{ request.META.HTTP_REFERER|default:'#' }}'">Cancel</button>
        </form>
    </div>
</main>
{% else %}
You are not authorised to view this form, Please Login or Register to view
{% endif %}
{% endblock %}