{% extends 'base.html' %}
{% load static %}


{% block content %}
{% if user.is_authenticated %}
<main>
    <div class="container mt-5">
        <h1>Delete Book</h1>
        <p>Are you sure you want to delete the book "{{ book.title }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'book_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>

</main>

{% else %}
You are not authorised to view this form, Please Login or Register to view
{% endif %}
{% endblock %}