{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>{{ book.title }}</h1>
        <p>By {{ book.author }}</p>
        <p>{{ book.synopsis }}</p>
        <h2>Reviews</h2>
        {% for review in reviews %}
            <div>
                <p>{{ review.body }}</p>
                <p>Rating: {{ review.rating }}</p>

                <div class="rating">
                    {% for i in range %}
                        {% if i < review.rating %}
                            <i class="fas fa-star"></i> <!-- filled star -->
                        {% else %}
                            <i class="far fa-star"></i> <!-- empty star -->
                        {% endif %}
                    {% endfor %}
                </div>

                <p>Posted on: {{ review.created_on }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
