{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}
<main>
    <div class="container book_details">

        <div class="row">
            <div class="col-sm-4">
                <div class="image-container">
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                    {% else %}
                    <img class="card-img-top" src="{{ book.book_cover.url }}" alt="{{ book.title }}">
                    {% endif %}
                    <div class="image-flash">
                        <p class="author">Author: {{ book.author }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="book-info">
                    <h1 class="display-3">{{ book.title }}</h1>
                    <p>By {{ book.author }}</p>
                    <p>{{ book.synopsis }}</p>
                </div>
                <div>
                    <a href="{% url 'review_add' %}?book_id={{ book.id }}" class="btn btn-secondary btn-sm">Review this
                        Book</a>
                    <a href="{% url 'add_to_wishlist' book.id %}" class="btn btn-secondary btn-sm">Add to Wishlist</a>

                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm">
                <div class="rating">
                    <h2 class="display-6"> Member reviews for {{ book.title }}</h2>
                    {% for review in reviews %}
                    <div>
                        <p>{{ review.body }}</p>
                        <div class="rating">
                            {% for i in range %}
                            {% if i <= review.rating %}
                            <i class="fas fa-star"></i> 
                            {% else %}
                            <i class="far fa-star"></i> 
                            {% endif %}
                            {% endfor %}
                        </div>
                        <p>Posted on: {{ review.created_on }} - by {{review.author}}</p>
                        <!-- If user is superuser and author -->
                        {% if request.user.is_superuser or request.user == review.author %}
                        <a href="{% url 'review_edit' review.id %}" class="btn btn-secondary btn-sm">Edit</a>
                        <a href="{% url 'review_delete' review.id %}" class="btn btn-secondary btn-sm">Delete</a>
                        <hr style="border: 1px solid black;">
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div> 

    </div>
</main>
{% else %}
You are not authorised to view this form, Please Login or Register to view
{% endif %}
{% endblock %}